.categoryname {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.detailMsg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.catDetails {
  padding: 2%;
  margin-top: 30px;
  color: #fff;
}
