
.Category {
  background-color: rgb(32, 82, 122);
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0 auto;
  column-gap: 0.5%;
}

.categorie {
  display: flex;
  box-shadow: 0 1px 1px 0 rgb(27, 70, 105);
  border-width: 0.2px;
  border-color: rgb(18, 123, 209);
  padding: 1px;
  border-style: groove;
  height: 200px;
  width: 100%;
  column-gap: 1%;
  flex-direction: column;
  color: rgb(13, 13, 156);
  margin: 1% auto;
  background-color: #fff;
}

.arrow {
  float: right;
  font-size: 18px;
}

.content {
  font-size: 19px;
  text-align: center;
  color: rgb(13, 13, 156);
}

.rightCircle {
  float: right;
  margin-left: 80%;
}

.searchAreach {
  width: 80%;
}

.search {
  width: 100%;
  margin: 2% auto;
  text-align: center;
  padding: 1%;
  background-color: #fff;
  mix-blend-mode: difference;
}

form {
  margin: 0 auto;
  width: 93%;
  font-size: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.FaSearchLocation {
  position: absolute;
  padding: 10%;
}

@media only screen and (max-width: 600px) {
  .Category {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 90%;
    margin: 0 auto;
    column-gap: 3%;
    padding-top: 10%;
  }

  .search {
    width: 100%;
    margin: 10% auto;
    text-align: center;
    padding: 1%;
    background-color: #fff;
    mix-blend-mode: difference;
  }

  form {
    padding: 4%;
    margin-bottom: 0;
    width: 98%;
  }

  .FaSearchLocation {
    position: absolute;
    padding: 10%;
  }

  .searchAreach {
    width: 90%;
  }
}
