
header {
  width: 100%;
  z-index: 100;
  padding: 2%;
  box-shadow: 0 5px 5px 0 rgb(18, 18, 124);
  justify-content: space-between;
  background-color: rgb(32, 82, 122);
  height: 100px;
  position: fixed;
}

.backHome {
  display: flex;
  justify-content: flex-start;
  background-color: crimson;
  font-size: 12em;
}

.Titile {
  width: 100%;
  text-align: center;
}
